<?php use App\View;

include VIEWS_DIR . 'header' . View::VIEW_EXTENSION ?>

    <div class="container">

        <table class="table table-bordered table-hover mb-4 shadow-sm mt-5">
            <thead>
            <tr>
                <th scope="col">Name</></th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <?php if (empty($orders)): ?>
                <tr>
                    <td class="text-center" colspan="5">No orders yet.</td>
                </tr>
            <?php else: ?>
                <?php foreach ($orders as $order): ?>
                    <tr>
                        <td><?= implode(' ', [$order['first_name'], $order['last_name']]); ?></td>
                        <td><?= $order['address']; ?></td>
                        <td><?= $order['phone']; ?></td>
                        <td><?= $order['email']; ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>

            </tbody>
        </table>

        <?php include VIEWS_DIR . 'pagination' . View::VIEW_EXTENSION ?>

    </div>

<?php include VIEWS_DIR . 'footer' . View::VIEW_EXTENSION ?>