<?php use App\View; include VIEWS_DIR . 'header' . View::VIEW_EXTENSION; ?>

    <div class="container">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250 mt-5 p-3">
            <div class="row w-100 ml-0">
                <div class="col-sm-6">
                    <div class="card-body d-flex flex-column align-items-start h-100">
                        <h1 class="mb-4">
                            <?= $product['title'] ?>
                        </h1>
                        <p class="card-text mb-4"><?= $product['description'] ?></p>
                        <h2 class="card-text mt-auto"><?= $product['price'] ?> &euro;</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="card-img-right flex-auto img-fluid" alt="<?= $product['title'] ?>"
                         src="<?= $product['image'] ?>">
                </div>
            </div>
        </div>
        <div class="card shadow-sm mt-3 mb-5">
            <div class="card-body d-flex flex-column align-items-start h-100">

                <?php if (isset($messages['order_success'])) : ?>
                    <div class="alert alert-success w-100" role="alert">
                        <?= $messages['order_success'] ?>
                    </div>
                <?php endif; ?>

                <?php if (isset($errors['order_error'])) : ?>
                    <div class="alert alert-danger w-100" role="alert">
                        <?= $errors['order_error'] ?>
                    </div>
                <?php endif; ?>

                <form action="/orders/store" method="POST" class="w-100" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   value="<?= isset($old['firstName']) ? $old['firstName'] : '' ?>">
                            <?php if (isset($errors['firstName'])): ?>
                                <div class="text-danger">
                                    <?= $errors['firstName'] ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   value="<?= isset($old['lastName']) ? $old['lastName'] : '' ?>">
                            <?php if (isset($errors['lastName'])): ?>
                                <div class="text-danger">
                                    <?= $errors['lastName'] ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   value="<?= isset($old['email']) ? $old['email'] : '' ?>"
                                   placeholder="you@example.com">
                            <?php if (isset($errors['email'])): ?>
                                <div class="text-danger">
                                    <?= $errors['email'] ?>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phone">Phone number <span class="text-muted">(Optional)</span></label>
                            <input type="number" class="form-control" id="phone" name="phone"
                                   value="<?= isset($old['phone']) ? $old['phone'] : '' ?>"
                                   required="">
                            <?php if (isset($errors['phone'])): ?>
                                <div class="text-danger">
                                    <?= $errors['phone'] ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address"
                               value="<?= isset($old['address']) ? $old['address'] : '' ?>">
                        <?php if (isset($errors['address'])): ?>
                            <div class="text-danger">
                                <?= $errors['address'] ?>
                            </div>
                        <?php endif; ?>
                    </div>

                    <hr class="mb-4">

                    <div class="row">
                        <div class="col-4 m-auto">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<?php include VIEWS_DIR . 'footer' . View::VIEW_EXTENSION ?>