<?php use App\View;

include VIEWS_DIR . 'header' . View::VIEW_EXTENSION ?>

    <div class="container">
        <div class="jumbotron my-5">
            <div class="container text-center">
                <h1 class="display-3">404</h1>
                <p>The page You were looking for does not exist.</p>
            </div>
        </div>
    </div>

<?php include VIEWS_DIR . 'footer' . View::VIEW_EXTENSION ?>