<nav>
    <ul class="pagination">
        <?php if ($pages > 1): ?>
            <li class="page-item<?= ($currentPage - 1 < 1) ? ' disabled' : '' ?>">
                <a class="page-link" href="<?= $url . 'page/' . ($currentPage - 1) ?>">Previous</a>
            </li>
            <?php for ($page = 1; $page <= $pages; $page++): ?>
                <li class="page-item<?= ($currentPage == $page) ? ' active' : '' ?>">
                    <a class="page-link" href="<?= $url . 'page/' . '/page/' . $page ?>"><?= $page ?></a>
                </li>
            <?php endfor; ?>
            <li class="page-item<?= ($currentPage + 1 > $pages) ? ' disabled' : '' ?>">
                <a class="page-link" href="<?= $url . 'page/' . ($currentPage + 1) ?>">Next</a>
            </li>
        <?php else: ?>
            <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        <?php endif; ?>
    </ul>
</nav>